@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: rgba(0,0,0,0.5);
    --secondary: rgba(0,0,0,0.25);
}

body {
    overflow-x: hidden;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
  }
